{% extends 'basic_generic.html' %}
{% block content %}
{% load static %}
    <main>
        <section>
            <h2>Connect and Empower: Loans Made Simple</h2>
            <p>Our platform connects borrowers and lenders directly, creating a transparent and efficient lending process. Whether you're looking to secure funding for your goals or seeking to invest in a reliable lending platform, we are here to help.</p>
        </section>

        <section>
            <h2>Key Features</h2>
            <ul>
                <li><strong>Simple Loan Application:</strong> Quick and easy loan application process for borrowers.</li>
                <li><strong>Flexible Lending:</strong> Lenders can choose which loan applications to fund.</li>
                <li><strong>Transparent Transactions:</strong> Track all transactions easily on our platform.</li>
                <li><strong>User Reviews and Ratings:</strong> Make informed decisions through user reviews and ratings.</li>
            </ul>
        </section>
        <section>
             <h2>Community Members</h2>
            <ul>
                {% for user in users %}
                    <li>
                      <a href="{% url 'loans:submit_review' user.id %}">
                        User: {{ user.username }} - Rating: {{ user.rating }}
                      </a>
                        <ul>
                            {% for review in user.reviews_received.all %}
                               <li>Review: {{ review.comment }} - Rating: {{ review.rating }}  - By: {{review.reviewer.username}} </li>
                            {% endfor %}
                         </ul>
                    
                     </li>
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock %}