{% extends 'basic_generic.html' %}
{% block content %}
    <h2>Loan Application</h2>

    <!-- Display form errors, if any -->
    {% if form.errors %}
        <ul class="error-list">
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="POST" onsubmit="return validateForm(this)">
        {% csrf_token %}
           <p>Please provide the following details to apply for a loan.</p>
        {{ form.as_p }}  <!-- This renders the form fields in paragraph format -->

        <button type="submit">Submit Application</button>
    </form>
    <br>
    <a href="{% url 'loans:loan_list' %}">Back to Loan List</a>
{% endblock %}