{% extends 'basic_generic.html' %}
{% block content %}
{% load static %}

<body>
    <h2>Your Loans</h2>
    <p>Below is a list of all the loans you have applied for or lent out.</p>
    
    {% if loans %}
        <ul>
            {% for loan in loans %}
                <li>
                    <a href="{% url 'loans:loan_detail' loan.pk %}">
                        Amount: ${{ loan.amount_requested }} | Status: {{ loan.status }} | Purpose: {{ loan.purpose }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-loans">You currently have no loans.</p>
    {% endif %}

    <p><a href="{% url 'loans:loan_application' %}">Apply for another loan</a></p>
</body>
</html>

{% endblock %}